<h1 class="text-center">so you goofed something, huh?</h1>

<div class="row justify-content-center">
  <% if @chirp.errors.any? %>
    <div id="error-explanation">
      <h2><%= pluralize(@chirp.errors.count, "error") %> prevented this Chirp from being updated:</h2>

      <ul>
        <% @chirp.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="row justify-content-center">
  <%= form_tag("/chirps/#{@chirp.id}", method: :put) do %>
  <div class="form-group">
    <%= label_tag(:content, 'we all do it from time to time') %>
    <%= text_area_tag(:content, "#{@chirp.content}", size: '20x1', class: "form-control") %>
  </div>
    <%= submit_tag("fix your mistakes, while you can", class: "btn btn-success") %>
  <% end %>
</div>