<h3><%= @chirp.created_at %></h3>
<h4><%= @chirp.content %></h4>
<!-- <p><% @chirp.comments %></p> -->
<div class="form-group">
<%= link_to("Un-goof", "/chirps/#{@chirp.id}/edit", class: "btn btn-warning") %>
<!-- <%= link_to("Back to the comfort zone, buddy.", "/chirps") %> -->
<%= link_to("If you ever want to run for president and this is too embarrassing, just click this.", "/chirps/#{@chirp.id}", method: :delete, data: {confirm: "you meant to press that, right? click this if you really meant to press that."}, class: "btn btn-danger")%>
</div>
<br>
<br>
<br>

















































































































<%= form_tag("/chirps/#{@chirp.id}/comments", method: :post) do %>
  <div class="form-group">
    <%= label_tag(:content, "Comment on some other buffoon's post to tell them how wrong they are")%>
    <%= text_area_tag(:content, nil, class: "form-control") %>
  </div>
<%= hidden_field_tag(:chirp_id, @chirp.id) %>
<%= submit_tag("Blast that one out here too, why don't ya.", class: "btn btn-warning") %>
<% end %>

<h4>Comments:</h4>
<% @chirp.comments.each do |comment| %>
<p><%= comment.content %></p>
<p><%= link_to("Delete comment, just in case", "/chirps/#{@chirp.id}/comments/#{comment.id}", method: :delete)%></p>
<% end %>